#mynetwork {
    width: 98%;
    height: 80%;
    border: 1px solid lightgray;
    margin: auto;

}

#mytimeline {
    width: 98%;
    /*height: 30%;*/
    border: 1px solid lightgray;
    margin: auto;

}

.inner-op {
    padding-left: 50px;

}
.node_focus{
    float: left;
    margin-left: 2%;
}
.copy_paste{
    float: right;
    margin-right: 2%;

}

.node_interaction_control {

    clear: both;
    text-align: center;

}

#op_tab{
    width: 98%;
    margin: auto;

}

.slider_wrapper{
    width: 400px;
}

.emotion_externalization_module{
    float: left;
}

.emotion_externalization_canvas{
    background-image: url("img/emotion/plutchik.jpg");
    /*background-image:url("img/emotion/7e52890a.jpg");*/
    background-size: contain;

}

.character_emotion_contents{
    margin: 0px;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
}

.character_emotion{
    position: relative;
    overflow: hidden;
    width: 1800px;
    margin-top: 50px;
    /*white-space: nowrap;*/
}

.emotion_word{
    width: 350px;
}
/*#op_tab {
    width: 50%;
    height: 80%;
    border: 1px solid lightgray;
    display: table-cell;

    }*/